
body {
    background-color: cyan;
    background: linear-gradient(to top left, cyan, rgb(9, 131, 187));
    height: 100vh;
    font-size: 62.5%;
}
h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#enterWord-container {
    position: absolute;
    padding: 1rem;
    display: none;
    background-color: rgb(230, 221, 92);
    border: 1px solid black;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#theWord-input {
    padding: .5rem;
    border-radius: 12px;
    font-size: 1.2rem;
}
#enterWord-button {
    background-color: green;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
}
#word-container {
    display: none;
    justify-content: center;
    background-color: white;
    width: 85%;
    border: 1px solid black;
    border-radius: 14px;
    margin: 2rem auto;
}
#wordInPlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    font-size: 2.5rem;
}
.aWord {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.unknownLtrs {
    width: 2rem;
    text-align: center;
    border-bottom: 5px solid black;
    line-height: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background-color: black;
}
.space {
    border: none;
    width: 3rem;
}
#playNow-button {
    position: relative;
    padding: 2.2rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background-color: rgb(230, 221, 92);
    border: 1px solid black;
}
    #playBtn-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#letters {
    display: none;
    justify-content: space-around;
    font-size: 2rem;
    background-color: green;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 12px;
    
}
.letter:hover {
    transform: scale(1.3);
    cursor: pointer;
}