*:focus {
    outline:none
}
body {
    /* background-color: cyan; */
    background: linear-gradient(to top left, cyan, rgb(9, 131, 187));
    height: 100vh;
    font-size: 62.5%;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
    font-size: 4rem;
    font-family: 'Acme', sans-serif;
    padding: 2rem 0 0 0;
}
h2 {
    font-size: 1.8rem;
    font-family: 'Acme', sans-serif;
}
#enterWord-container {
    position: absolute;
    text-align: center;
    padding: 1rem;
    display: none;
    background: linear-gradient(to top, gold, whitesmoke, gold);
    border: 1px solid black;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px grey;
}
#theWord-input {
    padding: .5rem;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 1px 1px grey;
}
#enterWord-button {
    background: linear-gradient(to top right, green, rgb(166, 220, 183), green);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    box-shadow: 1px 1px grey;
}
#word-container {
    display: none;
    text-align: center;
    justify-content: space-evenly;
    background-color: white;
    width: 85%;
    border: 1px solid black;
    border-radius: 14px;
    margin: 2rem auto;
    box-shadow: 2px 2px grey;
    font-family: 'Indie Flower', cursive;
}
#round-status {
    display: flex;
    justify-content: center;
    padding: 4px;
    letter-spacing: 1.4;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#wordInPlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    font-size: 2.5rem;
}
.aWord {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.unknownLtrs {
    width: 2rem;
    text-align: center;
    border-bottom: 5px solid black;
    line-height: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background-color: black;
}
.space {
    border: none;
    width: 3rem;
}
button {
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px whitesmoke;
}
#playNow-button {
    position: relative;
    padding: 2.2rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: linear-gradient(to left top, gold, whitesmoke, gold);
    border: 1px solid black;
    box-shadow: 3px 3px grey;
}
#playNow-button:active {
    transform: translateY(2px) scale(.9);
}
#playBtn-container {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
#howTo-container {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
#howTo-button {
    position: relative;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background: linear-gradient(to left top, gold, whitesmoke, gold);
    border: 1px solid black;
    box-shadow: 3px 3px grey;
}
#play-instructions {
    font-size: 1.2rem;
    display: none;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 2px 2px grey;
    border: 1px solid black;
    padding: .4rem

}
#playerName-container {
    position: absolute;
    text-align: center;
    padding: 1rem;
    display: none;
    background: linear-gradient(to top, gold, whitesmoke, gold);;
    border: 1px solid black;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px grey;
}
#name-input {
    padding: .5rem;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 1px 1px grey;
}
#name-button {
    background: linear-gradient(to top right, green, rgb(166, 220, 183), green);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    box-shadow: 1px 1px grey;
}
#alert-window {
    position: absolute;
    padding: 1rem;
    text-align: center;
    display: none;
    background: linear-gradient(to top, gold, whitesmoke, gold);
    border: 1px solid black;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px grey;
    z-index: 15;
}
#alert-button {
    background: linear-gradient(to top right, green, rgb(166, 220, 183), green);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
    box-shadow: 1px 1px grey;
}
#letters {
    display: none;
    justify-content: space-around;
    font-size: 2rem;
    background: linear-gradient(to right, green, rgb(166, 220, 183), green);
    padding: 1rem;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px grey;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    
}
.letter:hover {
    transform: scale(1.3);
    cursor: pointer;
}
#player-Stats {
    display: none;
    font-size: 2rem;
    text-shadow: 2px 2px whitesmoke;
    font-family: 'Acme', sans-serif;
    justify-content: space-around;
    margin: 2rem;
    background: linear-gradient(to top, gold, khaki, gold);
    border: 2px black solid;
    border-radius: 12px;
    box-shadow: 2px 2px grey;
    align-items: center;
    padding: 4px;
}
#score-h2 {
    text-decoration: underline;
    padding: 0 0 .1rem 0;
    margin: 0 0 .2rem 0;
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media only screen and (max-width: 600px) {
    #word-container {
        width: 100%;
    }    
    button {
        font-size: .7rem;
        margin: .8rem;
    }
    #howTo-button {
        padding: .7rem;
        font-size: 1.3rem;
    }
    #playNow-button {
        padding: 1.1rem;
    }
    #letters {
        flex-wrap: wrap;
    }
    .unknownLtrs {
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 5px solid black;
        line-height: 1.1rem;
        margin: .5rem;
        padding: .25rem;
        background-color: black;
    }
    .space {
        border: none;
        width: 1.2rem;
    }
  }
  